/*Ajutar bien los margenes*/
body{
    display: grid;
    grid-template-areas: 
    "header" 
    "main"
    "footer";
    grid-template-rows: 10fr auto 2fr;
    gap: 0;
    margin: 0;
}

main{
    grid-area: main;
    height: 100%;
    margin: 8px;
    margin-bottom: 60px;
}
/*Navegación*/

/*Encabezado */
header {
    grid-area: header;
    background-color: #f5b211;
    padding: 10px 20px;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between; /*camboar*/
    align-items: center;
}

header span{
    position: fixed;
    top: 8%;
    right: 10%;
    display: none;
    cursor: pointer;
}


/*Navegación */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Lista de navegación */
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu-movil{
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    flex-direction: column;
}

header .boton{
    display: none;
}

nav li {
    position: relative; /* Necesario para posicionar los submenús */
}

/*Estilo de los enlaces */
nav a {
    display: block;
    text-decoration: none;
    color: black;
    background-color: #f5b211;
    padding: 15px 20px;
    font-size: 18px;
}

nav a:hover {
    background-color: #d99b0f;
}

/*Estilos de submenús */
.dropdown {
    display: none;
    position: absolute;
    background-color: #f5b211;
    top: 100%; /* Coloca el submenú justo debajo del ítem principal */
    left: 0;
    width: 200px;
    list-style: none;
    padding: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

/*Mostrar submenú cuando el usuario pasa el ratón */
.submenu:hover .dropdown {
    display: block;
}

/*Estilo de los enlaces en el submenú */
.dropdown li {
    width: 100%;
}

.dropdown a {
    padding: 12px 15px;
    font-size: 16px;
}

/*Estilo del campo de búsqueda */
header input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #f5b211;
    background: black;
    color: #f5b211;
}


/*Ajustar barra de navegación*/
@media (max-width: 1200px){
    .menu{
        display: none;
    }
    
    header #boton-menu{
        display: inline-block;
    }

    header input{
        display: none;
    }

}

/*Pie de página*/

footer {
    position: fixed;
    grid-area: footer;
    width: 100%;
    background-color: #f5b211;
    color: #f5b211;
    bottom: 0;
}

footer p{
    background-color: #f5b211;
    margin-top: 0;
    margin-bottom: 0;
}

/*-------------------------------------------*/


/*Color de fondo*/
body {
    background-color: #2c2c2c;
    font-size: 20px;
}

/*-------------------------------------------*/

/*Letras*/
main h1{
    color: #f5b211;
    font-family: Arial, sans-serif;
    font-size: 3em;
}

main h2{
    color: #f5b211;
    font-family: Arial, sans-serif;
    font-size: 2em;
}

main h3{
    color: #f5b211;
    font-family: Arial, sans-serif;
    font-size: 1.5em;
}

main ul li{
    color: #f5b211;
    font-family: Arial, sans-serif;
    list-style: none;
    display: inline-block;
}

main p{
    color: white;
    font-family: Arial, sans-serif;
    text-align: left;
}

/*-------------------------------------------*/

/*Enlaces*/
a{
    text-decoration: none;
    color: #f5b211; /* O el color que prefieras */
}

/*Botones*/

.boton{
    display: inline-block;
    color: #f5b211;
    background-color: black;
    border: 1px solid #f5b211; /* Borde amarillo */
    padding: 10px 10px; /* Añade margen interno */
    font-family: Arial, sans-serif;
    cursor: pointer;
}

.miniBoton{
    cursor: pointer;
    color: #f5b211;
    font-size: 2em;
}

#botonesForos{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10%;
    gap: 25%;
    flex-wrap: nowrap;
    align-items: baseline;
    cursor: pointer;
    @media (max-width: 768px) {
        justify-content: center;
        gap: 10%;
    }
}

#botonesForos ul li{
    font-size: 2vw;
    @media (max-width: 966px) {
        font-size: 3vw;
    }
    @media (max-width: 768px) {
        font-size: 3.5vw;
    }
    @media  (max-width: 576px){
        font-size: 4vm;
    }
}

span{
    cursor: pointer;
}

/*Selector*/

select {
    display: inline-block;
    color: #f5b211;
    background-color: black;
    border: 1px solid #f5b211; /* Borde amarillo */
    padding: 5px 5px; /* Añade margen interno */
    font-family: Arial, sans-serif;
    scrollbar-color: #f5b211 black;
    scrollbar-arrow-color: #f5b211;
}´

/*Para algunos navegadores*/

select ::-webkit-scrollbar {
    background-color: black;
    color: #f5b211;
    border: 1px solid #f5b211;
}

select option {
    background-color: black; /* Fondo de cada opción */
    color: #f5b211; /* Color del texto */
    border-bottom: 1px #f5b211;
}

select option:checked {
    background-color: #f5b211; /* Fondo de la opción seleccionada */
    color: black; /* Color del texto cuando está seleccionada */
    border: 1px #f5b211;
}

/*Tablas*/

table {
    width: 90%;
    justify-self: center;
    border-collapse: collapse;
    margin: 20px;
    font-size: 18px;
    text-align: left;
    background-color: black;
    color: white;
    border: 3px solid black;
}

table td {
    background-color: #f5b211;
    color: black;
    padding: 12px;
    border: 2px solid black;
}

table th {
    background-color: black;
    color: #f5b211;
    font-weight: bold;
    text-transform: uppercase;
}

/* ------------------------------------------ */

 /* Formulario de la página de ayuda */

/* #2c2c2c */

 form {

    background: black;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    color: #f5b211;

 }

 form input, form textarea, form select {

    background-color: #2c2c2c;
    color: #f5b211;

 }

 form a {

    text-decoration: underline;

 }

 .centrar {

    text-align: center;

 }

  /* ------------------------------------------ */

 /* Filtros de búsqueda */

 .filtros {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start; /* Alinea los elementos a la izquierda */
    gap: 15px; /* Añade espacio entre los elementos */
}

/* para meter un margen a la derecha del botón de series */
.filtros .boton:nth-child(3) { /* Tercer botón que es 'Series' */
    margin-right: 100px; /* Ajusta el espacio entre 'Series' y 'Ordenar por' */
}


.barraBuscar {

    display: inline-block;
    color: #f5b211;
    background-color: black;
    border: 1px solid #f5b211; /* Borde amarillo */
    padding: 10px 10px; /* Añade margen interno */
    font-family: Arial, sans-serif;
    cursor: pointer;

}
