main h1{
    background-color: black;
    display: inline-block; 
    width: 30%;
    text-align: center;
    padding: 0.5%;
    border: 3px solid #f5b211; 
    font-size: 2rem;
}


.contenedorImagenes {
    padding: 2%;
    box-sizing: border-box;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-evenly;
    align-items: center;
    gap: 10px; /* Espacio entre elementos */
    margin: 0 10%; 
    border: 3px solid #f5b211; 
    background-color: black;
}


.contenedorImagenes img {
   /* Mantiene la proporción */
    object-fit: cover; /* Ajusta la imagen sin deformarla */
}


.contenedorImagenes li figure{
    margin: 0%;
}

